
//@theme "/home/espadia/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/espadia/.local/share/rofi/themes/rounded-red-dark.rasi"

//@theme "/home/espadia/.local/share/rofi/themes/rounded-red-dark.rasi"

//@theme "/home/espadia/.local/share/rofi/themes/rounded-red-dark.rasi"

//@theme "/home/espadia/.local/share/rofi/themes/launchpad.rasi"

@theme "/home/espadia/.local/share/rofi/themes/rounded-red-dark.rasi"
